extends layout

block content

  h1= title
  form(method='POST', action='/new')
    label(for="name")= "User name: "
      input(type="text", name="name" id="name")

    label(for="message")= "Message: "
      input(type="text", name="message" id="message")

    input(type="submit")