body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input[type="submit"] {
  width: 70px
}