body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

p {
  margin-bottom: 50px;
}

input[type="text"] {
  margin-top: 5px;
}

input[type="submit"] {
  margin-top: 10px;;
  width: 70px
}

label {
  width:min-content;
}